@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

em {
    position: relative;
    font-weight: bold;
    margin: 0 0.4em;
    z-index: 1;
    color: theme('colors.white');
}

em::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -6px;
    height: 22px;
    width: 110%;
    border-radius: 3px;
    background-color: #2563eb;
    z-index: -1;
}
